.idea
guide.html
out
target
/.vs
/src/main/netcore/Echo/.vs
/src/main/netcore/Echo/Take1/bin
/src/main/netcore/Echo/Take1/obj
/src/main/netcore/Echo/Take1-EchoClient/bin
/src/main/netcore/Echo/Take1-EchoClient/obj
/src/main/netcore/Echo/Take1-EchoServer/bin
/src/main/netcore/Echo/Take1-EchoServer/obj
/src/main/netcore/Echo/HelloWorld-Client/bin
/src/main/netcore/Echo/HelloWorld-Client/obj
/src/main/netcore/Echo/HelloWorld-Server/bin
/src/main/netcore/Echo/HelloWorld-Server/obj
